hostname {{hostname}}
!
!
!
ssh server vrf mgmt
!
!
!
!
!
vlan 1
interface mgmt
    no shutdown
    ip static {{oobm_ip}}/{{oobm_mask}}
    default-gateway {{oobm_default_gateway}}
system interface-group 1 speed 10g
    !interface group 1 contains ports 1/1/1-1/1/12
system interface-group 4 speed 10g
    !interface group 4 contains ports 1/1/37-1/1/48
interface {{leaf1b_int}}
    no shutdown
    description Leaf1b
    ip address {{leaf1b_int_ip}}/31
interface {{leaf1a_int}}
    no shutdown
    description Leaf1a
    ip address {{leaf1a_int_ip}}/31
interface {{leaf2a_int}}
    no shutdown
    description Leaf2a
    ip address {{leaf2a_int_ip}}/31
interface {{leaf2b_int}}
    no shutdown
    description Leaf2b
    ip address {{leaf2b_int_ip}}/31
interface {{leaf3a_int}} 
    no shutdown
    description Leaf3a
    ip address {{leaf3a_int_ip}}/31
interface {{leaf3b_int}} 
    no shutdown
    description Leaf3b
    ip address {{leaf3b_int_ip}}/31
interface loopback 0
    ip address {{loopback0_ip}}/32
router bgp {{asn}}
    bgp router-id {{loopback0_ip}}
    bgp fast-external-fallover
    bgp bestpath as-path multipath-relax
    neighbor {{leaf1a_ip}} remote-as {{leaf1_asn}}
    neighbor {{leaf1b_ip}} remote-as {{leaf1_asn}}
    neighbor {{leaf2a_ip}} remote-as {{leaf2_asn}}
    neighbor {{leaf2b_ip}} remote-as {{leaf2_asn}}
    neighbor {{leaf3a_ip}} remote-as {{leaf3_asn}}
    neighbor {{leaf3b_ip}} remote-as {{leaf3_asn}}
    address-family ipv4 unicast
        neighbor {{leaf1a_ip}} activate
        neighbor {{leaf1b_ip}} activate
        neighbor {{leaf2a_ip}} activate
        neighbor {{leaf2b_ip}} activate
        neighbor {{leaf3a_ip}} activate
        neighbor {{leaf3b_ip}} activate
        redistribute connected
        network {{loopback0_ip}}/32
    exit-address-family
!
https-server rest access-mode read-write
https-server vrf mgmt
